<div class="container mt-3">
	<ul class="list-unstyled">
		<li><H1 style="color:rgb(223, 11, 11);">
			<b>Operacion fallida</b>
			</H1></li><br>
		<li>Posibles motivos por los que fallo la operacion:
			<ul>
			<li>Código de Administrador invallido</li>
			<li>Contraseña incorrecta</li>
			<li>Correo incorrecto</li>
			<li>Su sesion expiró</li>
			</ul>
		</li>
	</ul>
</div>
<!--Boton de inicio-->
<div class="container mt-3">
	<a href="/" class="btn btn-outline-success">Volver al inicio</a>
</div>